<div class="container">
  <h1>Kendo Grid: infinite scroll</h1> 
  <p>Potenzialità dell'infinite scroll di Kendo UI per Angular 2</p> 
<hr>
  <kendo-grid
      [data]="gridView"
      [skip]="paging.skip"
      [pageSize]="paging.take"
      [scrollable]="'virtual'"
      [rowHeight]="36"
      [height]="300"
      (pageChange)="pageChange($event)"
    >
    <kendo-grid-column field="id" [width]="80" title="ID"></kendo-grid-column>
    <kendo-grid-column field="firstName" title="First Name" [width]="130"></kendo-grid-column>
    <kendo-grid-column field="lastName" title="Last Name" [width]="130"></kendo-grid-column>
    <kendo-grid-column field="city" title="City" [width]="130"></kendo-grid-column>
    <kendo-grid-column field="title" title="Title"></kendo-grid-column>
  </kendo-grid>
<hr>
  <ul>  
    <li><h4>skip: <span class="label label-success">{{paging.skip}}</span></h4></li>
    <li><h4>take: <span class="label label-default">{{paging.take}}</span></h4></li>
    <li><h4>returned: <span class="label label-default">{{paging.returned}}</span></h4></li>
    <li><h4>total: <span class="label label-default">{{paging.total}}</span></h4></li>
  </ul>
</div>